<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button class="button-clear"> 
    <i class="icon ion-ios-arrow-left"></i> atras
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col"> 
        <h1 class="form-title">Crear cuenta</h1>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col center">
      <h3 class="form-sub-title">Ingresa tus datos para comenzar</h3>
        <form name="signup_form" class="" novalidate>
            <!-- <label class="item item-input">
              <input type="text" placeholder="Nombre" name="name">
            </label> -->
            <label class="item item-input">
              <input type="email" placeholder="Email" required name="email" id="register-email" ng-model="model.email">
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Contraseña" required name="password" id="register-password" ng-model="model.password" show-hide-input>
            </label>

            <!-- <button type="submit" class="button button-balanced" style="border-radius: 100px; padding: 0 70px; margin-top:25px;" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
              Crear cuenta
            </button> -->
            <a href="#/../app/home" class="button button-balanced" style="border-radius: 100px; padding: 0 70px; margin-top:25px;" ng-disabled="signup_form.$invalid">
              Crear cuenta
            </a>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
