<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div multi-bg="['img/cell.jpg']" helper-class="facebook-welcome-bg">
    <!-- <div multi-bg="['http://lorempixel.com/640/1136?1']"> -->
    <!-- <div multi-bg="bgs" interval="3000" helper-class="no-facebook-welcome-bg"> -->
      <div class="top-content row">
        <div class="app-copy col col-center">
          <h1 class="app-logo">logo</h1>
          <p class="app-tagline">
            Your tag line
          </p>
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="create-account button-large button button-block" ui-sref="create-account">
            Create an account
          </a>
          <a class="have-account button button-clear button-block" ui-sref="welcome-back">
            Already have an account?
          </a>
          <section ng-include="'views/partials/legal-notice.html'"></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
