<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div multi-bg="['img/wall.jpg']" helper-class="facebook-welcome-bg">
    <!-- <div multi-bg="['http://lorempixel.com/640/1136?1']"> -->
    <!-- <div multi-bg="bgs" interval="3000" helper-class="no-facebook-welcome-bg"> -->
      <div class="top-content row">
        <div class="app-copy col col-center">
          <img src="img/logo.png" alt="FindMe" style="max-width:70%;">
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom center">
          <a class="button button-large button-positive" ui-sref="welcome-back" href="#/welcome-back" style="border-radius: 100px; padding: 0 50px;">
            Iniciar Sesión
          </a>
         <!--  <a class="button icon ion-social-facebook icon-right button-positive" style="border-radius: 100px; padding: 0 40px;" ng-click="facebookSignIn()"> Entrar con Facebook  </a> -->
          <a class="have-account button button-clear button-positive button-block" ui-sref="create-account">
            Crear cuenta
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
