<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button class="button-clear"> 
    <i class="icon ion-ios-arrow-left"></i> atras
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
<!--       <div class="col">
        <h2 class="form-title">Iniciar sesión con Facebook</h2>
        <div class="social-sign-up center">  
          <a class="button icon ion-social-facebook button-positive" style="border-radius: 100px; padding: 0 100px;" ng-click="facebookSignIn()"></a>
        </div>
      </div>
    </div>
    <div class="row form-separator">
      <hr class="separator-line"/>
      <span class="separator-mark">o bien</span>
      <hr class="separator-line"/>
    </div> -->
    <div class="row form-wrapper">
      <div class="col center">
      <h3 class="form-title">Iniciar sesión</h3>
        <form name="login_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email" required name="email" id="login-email" ng-model="model.email">
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Contraseña" required name="password" id="login-password" ng-model="model.password" show-hide-input>
            </label>
            <button type="submit" class="button button-positive" style="border-radius: 100px; padding: 0 70px; margin-top:25px;" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
              Entrar
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
        <div class="alternative-actions">
          <!-- <a class="forgot-password button button-clear button-block" ng-click="showForgotPassword()">
            Olvidé mi contraseña :(
          </a> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
