	<ion-view view-title="Find Me">

	<ion-content class="padding">
		<div class="list card">

			  <div class="item item-icon-left center">
			  <a class="icon ion-ios-arrow-left button-dark anchor dark" ng-click="myGoBack()" nav-direction="back" href="#/tab/finds"></a>
			    <h2 class="title">Cafetería "Best Coffee"</h2>
			  </div>

			  	<div class="item item-body">
				    <img class="full-image" src="img/cafe.jpg">
				    <h3>Acerca del Find:</h3>
				    <p>Esta es una nota que el usuario puede ingresar acerca del Find.</p>

					<h3>Ubicación:</h3>
					<p>Calle Tamaulipas 222, Col. Condesa México DF</p>
			 	</div>



			  <div class="item tabs tabs-secondary tabs-icon-top">
			  <a class="tab-item" href="#">
			      <i class="icon ion-ios-navigate-outline positive"></i>
			      Navegar
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-ios-settings positive"></i>
			      Modificar
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-ios-close-outline assertive"></i>
			      Eliminar
			    </a>
			  </div>
		</div>

	</ion-content>


</ion-view>