<ion-view view-title="Acerca de FindMe">

<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="left">
		<a class="button button-icon icon ion-ios-arrow-left" nav-direction="back" href="#/app/home"></a>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-content class="padding">

<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/about.jpg">
    <p class="center"><strong>¡FindMe te ayuda a recordar dónde están tus objetos y lugares favoritos!</strong></p>
    
    <p>FindMe es una sencilla aplicación multiplataforma hecha por estudiantes del Tecnológico de Estudios Superiores de Chalco, actualmente en fase de desarrollo. En su versión 1.0.0 permite crear cuentas de usuario, "Finds" (objetos o lugares) así como la ubicación y algunas notas de los mismos.</p>
    
    <p>Para el desarrollo de esta aplicación se utilizan tecnologías como: Phonegap, NodeJS, AngularJS, Ionic Framework, Firebase, entre otras...
    </p>

    <p>En la versión release, FindMe será descargable desde el <strong>Google Play Store y del App Store de Apple.</strong> Le permitirá al usuario acceder a su cuenta desde cualquier smartphone o tablet conectado a Internet usando su email y contraseña, así como su cuenta de Facebook. El usuario también podrá guardar, editar y eliminar sus <strong>Finds</strong>.
    </p>
  </div>



</div>

</ion-content>
</ion-view>
