<ion-view class="home-view">

<ion-nav-bar class="bar-positive">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
</ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>


  <ion-nav-title>
    <span>Mis Finds</span>
  </ion-nav-title>


  <ion-content class="padding">

  <div ng-repeat="find in finds">
    <div class="list card">
      <div class="item item-avatar item-icon-right ">
      <img src="img/{{find.avatar}}">
      <!-- <i class="icon ion-ios-heart assertive"></i> -->
        <h2><strong>{{find.nombre}}</strong></h2>
      
<!--         <a href="#/find-detail/{{find.$id}}" nav-direction="forward" class="icon ion-ios-arrow-right anchor positive"></a> -->
      </div>

      <div class="item item-image padding">
        <div id="map" lat="{{find.lat}}" lng="{{find.lgt}}" zoom="15" map>{{find.lat}}</div>
      </div>

      <div class="item item-text-wrap">
      
        <h2>Notas:</h2>
        <p>{{find.notas}}</p>
      </div>   
    </div>
  </div>
    <a ng-click="remove()" class="button button-block assertive icon ion-ios-close-outline"> LIMPIAR LISTA </a>

  </ion-content>
</ion-view>
