<ion-view class="home-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Find Me</span>
  </ion-nav-title>


  <ion-content class="padding">

  <div class="list card">
    <div class="item item-icon-right">
      <h2>Cafetería "Best Coffee"</h2>
      <p>Calle Tamaulipas 222, Col. Condesa México DF</p>
      <a href="#/details/find-detail" nav-direction="forward" class="icon ion-ios-arrow-right anchor positive"></a>
    </div>

    <div class="item item-image padding">
      <img src="img/cafe.jpg">
    </div>

    <div class="item tabs tabs-secondary tabs-icon-top">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-navigate-outline  dark"></i>
        <span class="dark">Ver en mapa</span>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-settings dark"></i>
        <span class="dark">Modificar</span>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-close-outline dark"></i>
        <span class="dark">Eliminar</span>
      </a>
    </div>    
  </div>
  </ion-content>


  <ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Mis Finds" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-heart-outline" icon-off="ion-ios-heart-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-navigate-outline" icon-off="ion-ios-navigate-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>
</ion-view>
