<ion-tabs class="tabs-striped tabs-background-stable tabs-color-positive tabs-bottom">


		<ion-tab title="MisFinds" icon="ion-search" href="#/tab/finds" nav-direction="swap"> 
        	<ion-nav-view name="find-detail"></ion-nav-view>
        </ion-tab>

        <ion-tab title="NuevoFind" icon="ion-ios-heart" href="#/tab/newfind" nav-direction="swap">
          	<ion-nav-view name="newfind-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mapa" icon="ion-map" href="#/tab/map" nav-direction="swap">
          	<ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

</ion-tabs>